
.maincontainer {
    display: flex;
    height: 100vh;
  }
  
  .leftcontainer {
    width: 20vw;
    background-color: #1e1e2d;
    color: white;
  }
  
  .rightcontainer {
    flex: 1;
    background-color: #f2f2f2;
  }
  
  